/*reset rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 237, 224);

}

/*   HEADER  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(248, 52, 52);
    border-bottom: 2px solid rgb(39, 38, 38);
}

header h3{ 
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
}
header a{
    text-decoration: none;
    color: rgb(39, 38, 38);
}
header ul{
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
    list-style: none;
}



/*      MAIN      */
.container{
    margin: auto;
    max-width: 1070px;
}

main{
    margin-top: 50px;
}

.box{
    width: ;
    padding: 10px 25px;
    background-color: rgb(248, 52, 52);
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
    list-style: none;

}