/*reset rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 237, 224);

}

/*   HEADER  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(248, 52, 52);
    border-bottom: 2px solid rgb(39, 38, 38);
}

h3{ 
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
}
 a{
    text-decoration: none;
    color: rgb(39, 38, 38);
}
header ul{
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
    list-style: none;
}



/*      MAIN      */
.container{
    margin: auto;
    max-width: 1070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    margin: 50px;
}

.box{
    position:relative;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 10px 25px;
    background-color: antiquewhite;
    padding: 5px;
    border: 5px solid rgb(39, 38, 38);
    list-style: none;
    border-radius: 10px;

}

.box #info{
    font-size: 18px;
    position:absolute;
    top: 20%;
    left: 50%;
    transform:translateX(-50%);
    width: 50%;
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid rgb(39, 38, 38);
    border-radius: 10px;
}
.box #info #messaggio{
    padding: 10px 5px;
}
.box #info #costo{
    padding: 10px 5px;
}

main h3{
    font-size: 30px;
    position:absolute;
    bottom: 20%;
    left: 50%;
    transform:translateX(-50%);
    width: 50%;
}